<div class="container">
  <h1><%= @event.title %></h1>
  <p><strong><%= t('events.description') %> :</strong> <%= @event.description %></p>
  <p><strong><%= t('events.start_date') %> :</strong> <%= @event.start_date %></p>
  <p><strong><%= t('events.duration') %> :</strong> <%= @event.duration %> minutes</p>
  <p><strong><%= t('events.price') %> :</strong> <%= @event.price %> €</p>
  <p><strong><%= t('events.location') %> :</strong> <%= @event.location %></p>
  <p class="card-text"><strong><%= t('events.created_by') %> :</strong> <%= @event.user.first_name %> <%= @event.user.last_name %></p>
  <p><strong><%= t('events.registrants') %> :</strong> <%= @event.attendees.count %></p>

  <% if user_signed_in? %>
    <% if @event.attendees.include?(current_user) %>
      <%= button_to t('events.unregister'), unregister_event_path(@event), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= button_to t('events.register'), register_event_path(@event), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <% if current_user == @event.user || current_user&.admin? %>
    <%= button_to t('events.delete_event'), event_path(@event),
      method: :delete,
      data: { confirm: t('events.confirm_delete') },
      class: "btn btn-danger" %>
  <% end %>

  <hr>

  <% if params[:year].present? && params[:month].present? %>
    <h2><%= t('events.media_from', month: params[:month], year: params[:year]) %></h2>
  <% else %>
    <h2><%= t('events.all_media') %></h2>
  <% end %>

  <h3><%= t('events.photos') %></h3>
  <div class="photo-grid">
    <% if @event.photos.attached? %>
      <% @event.photos.distinct.each do |photo| %>
        <% if photo.content_type.start_with?('image') %>
          <div class="photo-item">
            <%= image_tag photo.variant(resize_to_fill: [300, 300]).processed, class: "event-photo" %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p><%= t('events.no_photos') %></p>
    <% end %>
  </div>

  <h3><%= t('events.videos') %></h3>
  <div class="video-gallery">
    <% if @event.photos.attached? %>
      <% @event.photos.distinct.each do |photo| %>
        <% if photo.content_type.start_with?('video') %>
          <div class="video-item">
            <video width="320" height="240" controls>
              <source src="<%= url_for(photo) %>" type="<%= photo.content_type %>">
              <%= t('events.video_not_supported') %>
            </video>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p><%= t('events.no_videos') %></p>
    <% end %>
  </div>

  <a href="<%= events_path %>" class="btn btn-primary mt-3"><%= t('events.back_to_events') %></a>
</div>
