<h1>Forgotten password ?</h1>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

<%= form_with url: passwords_path, method: :post, local: true do |form| %>
  <div class="field">
    <%= form.label :email, "Email address" %>
    <%= form.email_field :email, required: true, autofocus: true, autocomplete: "email", placeholder: "Enter your email address", value: params[:email] %>
  </div>

  <div class="actions">
    <%= form.submit "Send reset instructions" %>
  </div>
<% end %>
