<h1>Welcome, Members!</h1>
<p>Access authorized</p>
<div class="card-container">
  <% @users.each do |user| %>
    <div class="card">
      <!-- Display profile picture or default image -->
      <% if user.profile_picture.attached? %>
        <img src="<%= url_for(user.profile_picture) %>" alt="<%= user.first_name %>'s photo" class="card-img-top">
      <% else %>
        <img src="/assets/default-avatar.png" alt="Default profile picture" class="card-img-top">
      <% end %>

      <div class="card-body">
        <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
        <p class="card-text">
          <%= user.description.present? ? user.description : "Add a description to your profile." %>
        </p>
        <%= link_to "Edit my profile", edit_user_path(user), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
